<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<title>Datos personales</title>
</head>
<body>
<h1>Datos personales</h1>
	<p><strong>Nombre:</strong> <span th:text="${session.participant.nombre}"></span></p>
	<p><strong>Localizacion:</strong> <span th:text="${session.participant.localizacion}"></span></p>
	<form method="POST" action="confirmEmail" >
		<label for="email"><strong>Email:</strong> </label>
		<input type="text" name="email" th:value="${session.participant.email}"/>
		<input type="submit" name="cambiarEmail" value="Cambiar email"/>
	</form>
	<p><strong>Identificador:</strong> <span th:text="${session.participant.identificador}"></span></p>
	<p><strong>Tipo:</strong> <span th:text="${session.participant.tipo}"></span></p>
	<p><strong>Código tipo:</strong> <span th:text="${session.participant.tipoCode}"></span></p>
	
	<i><span th:if="${info != null}" th:text="${info}">Info</span></i>
	
	<br/>
	<br/>
	<form method="POST" action="changeInfo" >
		<input type="submit" name="cambiarContraseña" value="Cambiar contraseña"/>
	</form>
</body>
</html>